In [1]:
import pandas as pd
import firebase_admin
from firebase_admin import credentials, firestore

In [2]:
df = pd.read_csv("orginal_sales_data_edit.csv")

In [3]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,PAYMENTFULLNAME
0,10107,30,95.70,2,2871.00,2/24/2003,Shipped,1,2,2003,...,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small,Yu Kwai
1,10121,34,81.35,5,2765.90,5/7/2003,Shipped,2,5,2003,...,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small,Henriot Paul
2,10134,41,94.74,2,3884.34,7/1/2003,Shipped,3,7,2003,...,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium,DaCunha Daniel
3,10145,45,83.26,6,3746.70,8/25/2003,Shipped,3,8,2003,...,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium,Young Julie
4,10159,49,100.00,14,5205.27,10/10/2003,Shipped,4,10,2003,...,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium,Brown Julie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004,Shipped,4,12,2004,...,NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small,Freyre Diego
2819,10373,29,100.00,1,3978.51,1/31/2005,Shipped,1,1,2005,...,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium,Koskitalo Pirkko
2820,10386,43,100.00,4,5417.57,3/1/2005,Resolved,1,3,2005,...,NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium,Freyre Diego
2821,10397,34,62.24,1,2116.16,3/28/2005,Shipped,1,3,2005,...,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small,Roulet Annette
2822,10414,47,65.52,9,3079.44,5/6/2005,On Hold,2,5,2005,...,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium,Yoshido Juri

In [4]:
cred = credentials.Certificate("Private key from Firebase Admin SDK")

In [5]:
app = firebase_admin.initialize_app(cred)

In [6]:
dbFireStore = firestore.client()

In [7]:
for item in df.to_dict(orient='record'):
    doc_ref = dbFireStore.collection('collection).document()
    doc_ref.set(item)

C:\Users\dangn\AppData\Local\Temp\ipykernel_9180\2881267660.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  for item in df.to_dict(orient='record'):

In [10]:
queryResults = list(dbFireStore.collection(u'collection').stream())
listQueryResults = list(map(lambda x : x.to_dict(), queryResults))
df = pd.DataFrame(listQueryResults)

In [11]:
df

,DEALSIZE,STATE,TERRITORY,CATEGORY,PRODUCTCODE,SUBCATEGORY,ORDERNUMBER,YEAR_ID,CUSTOMERNAME,PRODUCTLINE,...,CITY,PAYMENTFULLNAME,ADDRESSLINE2,MONTH_ID,ADDRESSLINE1,SALES,COUNTRY,POSTALCODE,CONTACTLASTNAME,CONTACTFIRSTNAME
0,Medium,CA,NaN,Office Supplies,S24_2766,Eraser,10368,2005,Mini Gifts Distributors Ltd.,Classic Cars,...,San Rafael,Nelson Valarie,NaN,1,5677 Strong St.,4107.20,USA,97562,Nelson,Valarie
1,Medium,MA,NaN,Technology,S700_1691,Smart phone,10143,2003,Mini Creations Ltd.,Planes,...,New Bedford,Tam WingC,NaN,8,4575 Hillside Dr.,3945.96,USA,50553,Tam,Wing C
2,Medium,NaN,EMEA,Office Supplies,S32_3207,Pen,10104,2003,Euro Shopping Channel,Trains,...,Madrid,Freyre Diego,NaN,1,"C/ Moralzarzal, 86",3227.63,Spain,28034,Freyre,Diego
3,Medium,Quebec,NaN,Furniture,S18_1097,Bookshelf,10411,2005,Quebec Home Shopping Network,Trucks and Buses,...,Montreal,Fresnisre Jean,NaN,5,43 rue St. Laurent,3213.00,Canada,H1J 1C3,Fresnisre,Jean
4,Medium,NSW,APAC,Furniture,S18_3685,Bookshelf,10148,2003,"Anna's Decorations, Ltd",Classic Cars,...,North Sydney,O'Hara Anna,Level 15,9,201 Miller Street,3639.44,Australia,2060,O'Hara,Anna
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,Medium,NSW,APAC,Furniture,S18_1984,Bookshelf,10148,2003,"Anna's Decorations, Ltd",Classic Cars,...,North Sydney,O'Hara Anna,Level 15,9,201 Miller Street,4232.00,Australia,2060,O'Hara,Anna
2819,Small,NaN,EMEA,Furniture,S18_2432,Table,10103,2003,Baane Mini Imports,Trucks and Buses,...,Stavern,Bergulfsen Jonas,NaN,1,Erling Skakkes gate 78,1189.98,Norway,4110,Bergulfsen,Jonas
2820,Small,NaN,EMEA,Accessories,S72_1253,Keyboard,10197,2003,Enaco Distributors,Planes,...,Barcelona,Saavedra Eduardo,NaN,11,"Rambla de Catalu¤a, 23",1209.59,Spain,8022,Saavedra,Eduardo
2821,Small,NaN,EMEA,Accessories,S72_3212,Headphone,10350,2004,Euro Shopping Channel,Ships,...,Madrid,Freyre Diego,NaN,12,"C/ Moralzarzal, 86",2244.40,Spain,28034,Freyre,Diego
2822,Small,CA,NaN,Furniture,S12_4675,Cabinet,10135,2003,Mini Gifts Distributors Ltd.,Classic Cars,...,San Rafael,Nelson Valarie,NaN,7,5677 Strong St.,2838.81,USA,97562,Nelson,Valarie

In [23]:
df['SALES'].sum()

10032628.850000001